---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="text-3xl text-white bg-black min-h-screen">
		<h1>You found me!</h1>
		<h2>Nginx listening on ports 80 & 443, forwarded to an Astro site on port 3000 </h2>
	</main>
</Layout>
