---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="text-3xl text-white bg-black min-h-screen w-full">
		<h1>You found me!</h1>
		<iframe width="100%" height="605" src="https://www.youtube.com/embed/djXh1VkUZLQ?&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</main>
</Layout>
